services:
  # Service API Backend (FastAPI)
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: Steam-Update-api
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - steam-Update-network
      - monitoring
    volumes:
      - ./bdd:/app/bdd

  # Service Frontend Web (HTML + Nginx)
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: Steam-Update-web
    ports:
      - "5173:80"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - steam-Update-network
  
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus
      - prom_data:/prometheus
    networks:
      - monitoring
      
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    volumes:
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/provisioning/alerting:/etc/grafana/provisioning/alerting
      - grafana_storage:/var/lib/grafana
    networks:
      - monitoring

  # heuuu pour le moment ca reste comme ca
  mlflow:
    restart: unless-stopped
    image: burakince/mlflow:3.1.4
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_S3_ENDPOINT_URL=http://garage:3900
      - AWS_ACCESS_KEY_ID=GKcf30fc448c30038ac06884a2
      - AWS_SECRET_ACCESS_KEY=b41825c9abeeecd31a26e7bb571881b4f55246b8bc11d7f653debdcdca1fd82b
      - MLFLOW_GUNICORN_OPTS=--timeout 600 --workers 4 --log-level=debug
    command: >
      mlflow server
      --backend-store-uri postgresql://postgres:password@postgres:5432/mlflow
      --artifacts-destination s3://mlflow-bucket
      --serve-artifacts
      --host 0.0.0.0
    depends_on:
      - garage
      - postgres

  garage:
    image: dxflrs/garage:v2.0.0
    container_name: garage
    restart: unless-stopped
    ports:
      - "3900:3900"
      - "3901:3901"
      - "3902:3902"
      - "3903:3903"
    volumes:
      - ./garage.toml:/etc/garage.toml
      - ./mlflow/data/garage/meta:/var/lib/garage/meta
      - ./mlflow/data/garage/data:/var/lib/garage/data

  postgres:
    image: 'postgres:17.5'
    restart: unless-stopped
    ports:
      - 15432:5432
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'mlflow'
    volumes:
      - ./mlflow/data/mlflow/postgres:/var/lib/postgresql/data/
volumes:
  grafana_storage: {}
  prom_data: {}

networks:
  steam-Update-network:
    driver: bridge
  monitoring:
    driver: bridge