apiVersion: 1

policies:
  - orgId: 1
    receiver: discord-alerts
    group_by: ['alertname']
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
    routes:
      - receiver: discord-alerts
        matchers:
          - severity = critical
        group_wait: 10s
        repeat_interval: 1h
      - receiver: discord-alerts
        matchers:
          - severity = warning
        group_wait: 30s
        repeat_interval: 4h
