name: Docker Build

on:
  push:
    branches:
      - main
      - feat/**
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build API image
        run: docker build -t steam-update-api:latest ./api

      - name: Build Web image
        run: docker build -t steam-update-web:latest ./web

      - name: Validate docker-compose
        run: docker compose config
